.Tugas {
    text-align: center;
  }
  
  .Tugas-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Tugas-logo {
      animation: Tugas-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes Tugas-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

h1 {
    color: white;
}

p {
    color: white;
}
